---

import Layout from '@/layouts/Layout.astro'

import Hero from '@/components/Hero.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'

import { basics } from "@cv"
const { name } = basics
---

<Layout language="es" title=`CV minimalista - ${name}`>
	<main>
		<Hero data={basics} />
	</main>
	
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%
	}
</style>
