---
import Section from "./Section.astro"

interface Props {
  data: string;
  sectionTitle: string;
}
const { data, sectionTitle }= Astro.props
---
<Section title={sectionTitle} >
  <p>{data}</p>
<Section />