---
import Section from "./Section.astro"
import Html from "@/icons/Html.astro"
import Css from "@/icons/Css.astro"

interface Props {
  data: any;
  sectionTitle: string;
}

const { data, sectionTitle } = Astro.props

const SKILLS_ICONS: Record<string, any> = {
  Html,
  Css
}

---
<Section title={sectionTitle} >
  <ul>
    {
      data.map(({ name }:any) => {
        const Icon = name
        return (
          <li>
            <Icon />
            <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
<Section />

<style>
  ul {
    display: inline-flex;
    gap: .35rem;
    flex-wrap: wrap;
  }

  li {
    border-radius: 6px;
    background: #eee;
    color: #000;
    font-size: .75rem;
    font-weight: 500;
    padding: .25rem .75rem;
  }
</style>